<h1>フォロワー一覧</h1>
<div class="list-group">
  <% @users.each do |user| %>
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <!-- プロフィール画像にリンクを追加 -->
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_profile_image(40, 40), class: 'rounded-circle me-2' %>
        <% end %>
        <!-- ユーザー名にリンクを追加 -->
        <%= link_to user.name, user_path(user), class: 'text-dark' %>
      </div>
      <div id="follow-btn-<%= user.id %>">
        <% if current_user.following?(user) %>
          <%= render 'unfollow_btn', user: user %>
        <% else %>
          <%= render 'follow_btn', user: user %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>