プロフフィールヘッダー画像

アイコン画像
<%= image_tag @user.get_profile_image %>

ユーザー名
<%= @user.name %>

フォローボタン（カレントユーザーの場合はプロフィール編集ボタン）
<% @user.each do |user| %>
 <% if logged_in? $$ current_user != user %>
 <% if current_user.following?(user) %>
  <%= button_to 'フォロー解除', relationgship_path(current_user.relationships.find_by (follower: user)), method: :delete %>
 <% else %>
  <%= button_to 'フォロー', relationgship_path(follower: user) %>
 <% end %>
 <% end %>
<% end %>

フォロワー数の表示（フォロワー一覧へのリンク）
<%= link_to user.followers.count, user_followers_path(user) %>

フォロー数（フォロー一覧へのリンク）
<%= link_to user.followings.count, user_followings_path(user) %>

プロフィール文
<%= @user.introduction %>

固定イラスト（４つまで）

作品一覧



<% @userselected_post.each do |user_post| %>
    <div>
    <%= image_tag user_post.get_image %>
    </div>
<% end %>

<% @user_post.each do |user_post| %>
    <div>
    <%= image_tag user_post.get_image %>
    </div>
<% end %>


<%= if @post.already_bookmaeked?(current_user) %>
<p>bookmark</p>
<link_to bookmarks_path(@post),method: :delete,class: "bookmark" do
icon("fas", "star", class: "bookmark-icon")
<%= else %>
<p>bookmark</p>
<link_to bookmarks_path(@post),method: :post,class: "bookmark" do
icon("fas", "star", class: "bookmark-icon")


コメント件数表示兼ポストへのリンク
<%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>